.root{
    
    
    -fx-background-color:#383838;
     -fx-background-image: url("image.jpg");
     -fx-background-repeat:no-repeat;
    -fx-background-position:center center;
    -fx-background-size:cover;
    
    
    
    
}
#button{
    
    
    
    -fx-text-fill: transparent;
}

